<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospedagens - Rotas do Sol</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <link rel="icon" th:href="@{/imagens/icone.ico}" type="image/x-icon">
</head>
<body>
<header class="p-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 d-flex">
                <button class="btn btn-outline-secondary me-2">A+</button>
                <button class="btn btn-outline-secondary me-2">A-</button>
                <button class="btn btn-outline-secondary">Contraste</button>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <a th:href="@{/login}" class="btn btn-outline-secondary me-2">Login</a>
                <a th:href="@{/cadastro(tipo='CLIENTE')}" class="btn btn-success me-2">Cadastre-se</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img  th:href="@{/imagens/logotipo.png}" alt="Logo RotaRadiante" class="img-fluid" style="max-width: 100px;">
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-success d-flex justify-content-center shadow-sm text-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a th:href="@{/}" class="nav-link">Início</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/hospedagens}" class="nav-link active">Hospedagens</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/voos}" class="nav-link">Voos</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/pacotes}" class="nav-link">Pacotes</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/contatos}" class="nav-link">Contato</a>
        </li>
    </ul>
</nav>
<div class="container mt-4">
    <h2 class="text-center mb-4">Hospedagens Disponíveis</h2>
    <div class="row">
        <div th:each="hospedagem : ${hospedagens}" class="col-md-4 mb-4">
            <div class="card">
                <img th:src="${hospedagem.imagemUrl}" class="card-img-top" alt="Imagem do Hotel" onerror="this.src='../static/imagens';">
                <div class="card-body">
                    <h5 class="card-title" th:text="${hospedagem.nomeHotel}"></h5>
                    <p class="card-text">
                        Tipo de Quarto: <span th:text="${hospedagem.tipoQuarto}"></span><br>
                        Check-in: <span th:text="${#dates.format(hospedagem.dataCheckin, 'dd/MM/yyyy')}"></span><br>
                        Check-out: <span th:text="${#dates.format(hospedagem.dataCheckout, 'dd/MM/yyyy')}"></span><br>
                        Valor por Noite: <span th:text="${hospedagem.valorPernoite}"></span><br>
                        Destino: <span th:text="${hospedagem.destino.descricao}"></span>
                    </p>
                    <a th:href="@{/login}" class="btn btn-primary">Reservar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="p-4 bg-light mt-5 text-center">
    <h4>Inscreva-se para receber ofertas exclusivas</h4>
    <form class="d-flex flex-column align-items-center">
        <div class="form-group d-flex justify-content-center mt-3 col-lg-6 col-md-8 col-sm-12">
            <input type="text" class="form-control" id="inputemail" placeholder="Insira seu e-mail">
        </div>
        <button type="email" class="btn btn-outline-success w-25 mt-2">Quero recebê-las!</button>
    </form>
</div>
<div id="reviewsCarousel" class="carousel slide bg-info text-light p-3" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <img src="web/img/user1.jpg" alt="User 1" class="rounded-circle mb-3" style="width: 100px;">
                    <h5>João Silva</h5>
                    <p>"A viagem foi incrível! Tudo foi perfeitamente organizado e a equipe foi super atenciosa. Recomendo!"</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <img src="web/img/user2.jpg" alt="User 2" class="rounded-circle mb-3" style="width: 100px;">
                    <h5>Maria Oliveira</h5>
                    <p>"As acomodações eram confortáveis e os passeios eram divertidos. Uma experiência inesquecível!"</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <img src="web/img/user3.jpg" alt="User 3" class="rounded-circle mb-3" style="width: 100px;">
                    <h5>Carlos Pereira</h5>
                    <p>"Eu e minha família adoramos cada momento. A equipe fez um ótimo trabalho. Voltaremos em breve!"</p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#reviewsCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#reviewsCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-3">
                <h5>Sobre</h5>
                <p>Rotas do Sol</p>
                <p>Desenvolvido por Juliana Pires</p>
            </div>
            <div class="col-md-3">
                <h5>Contato</h5>
                <p>Email: reserveja.rotasdosol@gmail.com</p>
                <p>Telefone: (21)8752-8952</p>
            </div>
            <div class="col-md-3">
                <h5>Meios de Pagamento</h5>
                <img src="web/img/credito.jpg" alt="crédito">
                <img src="web/img/boleto.jpg" alt="boleto">
                <img src="web/img/cartao.jpg" alt="Pix">
            </div>
            <div class="col-md-3">
                <h5>Selos</h5>
                <img src="web/img/selo1.jpg" alt="pet friendly">
                <img src="web/img/selo2.jpg" alt="boleto">
            </div>
        </div>
    </div>
</footer>
</body>
</html>
